venv
__pycache__
instance
web_components/*/dist
web_components/*/node_modules

# data directory for local testing
data/*

# file fragments, examples, etc supporting in progress development
scratch/*
scratch*

# secrets files
client_secret*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Runtime files
*.tbi
