<!doctype html>
<html>
<head>

   {% if config['GOOGLE_ANALYTICS_TRACKING_ID'] %}
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id={{ config['GOOGLE_ANALYTICS_TRACKING_ID'] }}"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
     gtag('config', '{{ config['GOOGLE_ANALYTICS_TRACKING_ID'] }}');
   </script>
   {% endif %}

   <!-- These two meta tags are required by Bootstrap -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap stylesheet -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <!-- Styles for Bravo searchbox -->
   <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='bravosearch.css') }}">

   <style type="text/css">
   .bo-small-logo {
      border-radius: 10px;
   }
   </style>
   
   {% block head %}{% endblock %}
   <title>{% block title %}{% endblock %}</title>
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-light bg-white">
      {% if show_brand %}
      <a class="navbar-brand" href = "{{ url_for('.home') }}">
         <img class="bo-small-logo" src="{{ url_for('.static', filename='img/bravo_logo_square.png') }}" width="34px" />
      </a>
      <div id="navbar-search-box">
         <bravosearch autocompleteapi="{{ url_for('.autocomplete') }}" searchapi="{{ url_for('.search') }}" :autofocus="false"></bravosearch>
      </div>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button> 
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            {% if config['ARCHIVES'] %}
            <li class="nav-item dropdown">
               <a class="nav-link btn-sm dropdown-toggle" href="#" id="navbarVersionDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               TOPMed Freeze 8
               </a>
               <div class="dropdown-menu" aria-labelledby="navbarVersionDropdown">
                  {% for archive in config['ARCHIVES'] %} 
                  <a class="dropdown-item" href="{{ archive.url }}">{{ archive.short_name }}</a>
                  {% endfor %}
               </div>
            </li>
            {% endif %}
            {% if config['DOWNLOADS'] %}
            <li class="nav-item"><a class="nav-link btn-sm" href="{{ url_for('.downloads') }}">Downloads</a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link btn-sm" href="{{ url_for('.about') }}">About</a></li>
            {% if show_signin %}
            <li class="nav-item"><a class="nav-link btn-sm" href="{{ url_for('.terms') }}">Terms</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item dropdown">
               {% if current_user.picture is none %}
               <a class="nav-link btn-sm" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Profile
               </a>
               {% else %}
               <a class="nav-link" style="padding-top:3px;padding-bottom:3px;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               <img src="{{ current_user.picture }}" style="width: 31px; height: 31px; padding: 0px; border-radius: 50%;">
               </a>
               {% endif %}
               <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('.logout') }}">Logout</a>
               </div>
            </li>
            {% endif %}
         </ul>
         {% if show_signin and not current_user.is_authenticated %}
         <form class="form-inline" action="{{ url_for('.signin') }}"><button class="btn btn-primary btn-sm mx-0 my-2 mx-sm-2 my-sm-0">Sign in</button></form>
         {% endif %}
      </div>
   </nav>

   {% block content %}{% endblock %}

   <!-- These three libraries are required by Bootstrap -->
   <!-- Important: don't use query "slim" version, since it has some features removed. -->
   <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

   <!-- Bravo plot libraries -->
   <script type="text/javascript" charser="utf8" src="https://unpkg.com/vue"></script>
   <script type="text/javascript" charset="utf8" src="{{ url_for('.static', filename='bravosearch.umd.min.js') }}"></script>


   {% if show_brand %}
   <script type="text/javascript">
   new Vue({
     components: {
        bravosearch
     }
   }).$mount('#navbar-search-box')
   </script>
   {% endif %}

   {% block jscripts %}{% endblock %}
</body>
</html>
