{% extends 'base.html' %}

{% block title %}
BRAVO
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <h1 style="margin-bottom: 1em">{{ config['DOWNLOAD_LABEL'] }}</h1>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <h2>List of variants</h2>      
         <p>
         Below you will find the links to download the full list of TOPMed Freeze 8 variants that are present in BRAVO.
         The variants list is saved in <a href="https://vcftools.github.io/index.html">Variant Call Format (VCF)</a> following dbSNP <a href="https://www.ncbi.nlm.nih.gov/snp/docs/submission/vcf_submission_guidelines/">guidelines</a>.
         </p>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <table class="table table-sm">
            <tbody>
            {% for i in range(1, 24) %}
            <tr>
               <td>Chromosome {{ {23: 'X'}.get(i, i|string) }}</td>
               <td>{{ config['DOWNLOAD_CHROMOSOMES_VCF'][ {23: 'X'}.get(i, i|string) ][0] }}</td>
               <td class="text-right"><a href="{{ url_for('.download_vcf', chromosome = {23: 'X'}.get(i, i)) }}" class="btn btn-sm btn-primary"><span>Download VCF</span></a></td>
               <td class="text-right"><button type="button" class="btn btn-sm btn-secondary" onclick="prompt('Press Ctrl + C to copy Curl command. Please do not share this command, because it is only for your account.', 'curl \'{{ url_for('.download_vcf', chromosome = {23: 'X'}.get(i, i), _external = True, _scheme = 'https') }}\' -H \'Accept-Encoding: gzip, deflate, br\' -H \'Cookie: {% for key, value in request.cookies.items() -%}{{key}}={{value}}; {%- endfor %}\' --compressed &gt; chr{{ {23: 'X'}.get(i, i) }}.BRAVO_TOPMed_Freeze_8.vcf.gz')">Copy Curl command</button></td>
            </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <h2>Coverage</h2>
         <p>
         Below you will find links to download the summarized sequencing depth information (mean, median, percent of individuals with &gt1X, &gt5X, &gt10X, etc) at each base-pair.
         </p>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <table class="table table-sm">
            <tbody>
            {% for i in range(1, 24) %}
            <tr>
               <td>Chromosome {{ {23: 'X'}.get(i, i|string) }}</td>
               <td>{{ config['DOWNLOAD_CHROMOSOMES_COVERAGE'][ {23: 'X'}.get(i, i|string) ][0] }}</td>
               <td class="text-right"><a href="{{ url_for('.download_coverage', chromosome = {23: 'X'}.get(i, i)) }}" class="btn btn-sm btn-primary"><span>Download VCF</span></a></td>
               <td class="text-right"><button type="button" class="btn btn-sm btn-secondary" onclick="prompt('Press Ctrl + C to copy Curl command. Please do not share this command, because it is only for your account.', 'curl \'{{ url_for('.download_coverage', chromosome = {23: 'X'}.get(i, i), _external = True, _scheme = 'https') }}\' -H \'Accept-Encoding: gzip, deflate, br\' -H \'Cookie: {% for key, value in request.cookies.items() -%}{{key}}={{value}}; {%- endfor %}\' --compressed &gt; chr{{ {23: 'X'}.get(i, i) }}.BRAVO_TOPMed_coverage_hg38.txt.gz')">Copy Curl command</button></td>
            </tr>
            {% endfor %}
            </tbody>
         </table>
      </div>
   </div>
</div>
{% endblock %}
