{% extends 'base.html' %}

{% block title %}
BRAVO
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <div class="m-3 m-md-5 text-center">
            <img src="{{ url_for('.static', filename='img/bravo_logo.png') }}" width="200px" style="margin-bottom:10px;" />
            {% if config['SUBTITLE'] %}
            {{ config['SUBTITLE']|safe }}
            {% endif %}
         </div>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <div id="search-box">
            <bravosearch autocompleteapi="{{ url_for('.autocomplete') }}" searchapi="{{ url_for('.search') }}" :autofocus="true"></bravosearch>
         </div>
      </div>
   </div>
   <div class="row justify-content-center mt-3">
      <div class="col-10 col-sm-8 col-md-6">
         <p class="text-center text-muted">
            Examples:
            <a href="{{ url_for('.gene_page', variants_type='snv', gene_name='PCSK9') }}"><i>PCSK9</i></a>,
            <a href="{{ url_for('.region_page', variants_type='snv', chrom='1', start=55030000, stop=55075000) }}">1:55030000-55075000</a>,
            <a href="{{ url_for('.variant_page', variant_type='snv', variant_id='22-16389447-A-G') }}">22-16389447-A-G</a> (<a href="{{ url_for('.variant_page', variant_type='snv', variant_id='rs34747326') }}">rs34747326</a>)
         <p>
      </div>
   </div>
</div>
{% endblock %}

{% block jscripts %}
<script type="text/javascript">
new Vue({
  components: {
    bravosearch
  }
}).$mount('#search-box')
</script>
{% endblock %}
