{% extends 'base.html' %}

{% block title %}
BRAVO
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <div class="m-3 m-md-5 text-center">
            <img src="{{ url_for('.static', filename='img/error_logo.jpg') }}" width=300px>
         </div>
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         {% if message %}
            <p class="text-center"><strong>{{ message }}</strong></p>
         {% else %}
            <p class="text-center"><strong>This page does not exist.</strong></p>
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}
