{% extends 'base.html' %}

{% block title %}
BRAVO
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row justify-content-center">
      <div class="col-10 col-sm-8 col-md-6">
         <h1 style="margin-bottom: 1em">Terms of Use</h1>
         <p>To use this site, you must agree with all of the following:</p>
         <ul>
            {% if not current_user.is_anonymous %}
            <li>The email <b>{{ current_user.id }}</b> correctly identifies you.</li>
            {% endif %}
            <li>You will not attempt to download any dataset in bulk from this website.
            <li>You will not attempt to re-identify or contact research participants.
            <li>You will protect data confidentiality.
            <li>You will report any inadvertent data release, security breach or other data management incident of which you become aware.
            <li>You will abide by all applicable laws and regulations for handling genomic data.
            <li>You will not share data from this site with others.  Instead, please direct them to this site, dbGaP, or elsewhere to view this data.
         </ul>
         <br>
         {% if not current_user.is_anonymous %}
         {% if current_user.agreed_to_terms: %}
         <p align="center"><b>You've already agreed to these terms.</b></p>
         {% else %}
         <p align="center"><a class="btn btn-primary" role="button" href="{{ url_for('.agree_to_terms') }}">I agree to the terms</a><p>
         {% endif %}
         {% endif %}
      </div>
   </div>
</div>
{% endblock %}
