{% extends 'base.html' %}

{% block head %}
<!-- Styles for Bravo visualizations -->
<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='variantviz.css') }}">

<style type="text/css">
.bravo-tab {
   display: flex;
   flex-direction: row;
}
.bravo-tab-item {
   padding-left: 15px;
   padding-right: 15px;
}
.bravo-tab-item a {
   color: black;
   text-decoration: none;
}
.bravo-tab-item-unselected a {
   color: #757575;
}
.bravo-tab-item-unselected a:hover {
   color: black;
}
.bravo-tab-item-selected a {
   color: #0b66fe;
}
.bravo-tab-item-selected {
   border-bottom: 3px solid #0b66fe;
}
</style>
{% endblock %}

{% block title %}
BRAVO
{% endblock %}

{% block content %}
<div class="container-fluid">
   <div class="row justify-content-center" style="border-bottom: 1px solid #cccccc;margin-bottom: 5px;">
     <div class="col-10 col-sm-10 col-md-10">
      </div>
   </div>
   <div class="row justify-content-center">
      <div class="col-10 col-sm-10 col-md-10">
         <div id="variant-plot"> 
            <variantviz :homepage="'{{ url_for('.home', _external = True, _scheme='https') }}'" :api="'{{ url_for('.home', _external = True, _scheme='https') }}'" :variant-id="'{{ variant_id }}'" :total-samples="132345" />
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block jscripts %}
<!-- Bravo plot libraries -->
<script type="text/javascript" charser="utf8" src="https://unpkg.com/vue"></script>
<script type="text/javascript" charset="utf8" src="{{ url_for('.static', filename='variantviz.umd.min.js') }}"></script>


<script type="text/javascript">
var variantviz_vm = new Vue({
  components: {
    variantviz
  }
});
variantviz_vm.$mount('#variant-plot');
</script>
{% endblock %}
